@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

* {
    font-family: 'Overpass', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(216, 12%, 8%);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

button {
    border-radius: 50%;
    padding: 1.4em 1.8em;
    border: none;
    margin-right: 10px;
    margin-top: 25px;
    background-color: hsl(231, 11%, 25%);
    color: white;
    font-size: 15px;
}

button:hover {
    background-color: hsl(216, 12%, 54%);
}

button:focus {
    background-color: hsl(25, 97%, 53%);
}

h1 {
    color: white;
}

p {
    color: hsl(217, 12%, 63%);
}

.submit {
    border-radius: 20px;
    width: 25em;
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.wrapper {
    background-color: hsl(213, 19%, 18%);
    padding: 30px;
    border-radius: 20px;
    width: 24rem;
    height: 25rem;
}

.wrapper.active{
    display:none;
}

.wrapper2 {
    background-color: hsl(213, 19%, 18%);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 24rem;
    height: 25rem;
    position: absolute;
    display: none;
}

.wrapper2.active{
    display:block;
}

.thankyou{
    margin-top:30px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: hsl(231, 11%, 25%);
    margin-bottom: 40px;
}

.youselected {
    border-radius: 15px;
    padding: 5px 15px;
}